<!doctype html>
<html lang="en"><head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <title>Goal Type Screen</title>
</head>

<body>

The goal of the proposed study is to
<div>
<div><input type="radio" name="goal" value="rejection">Reject a false null hypothesis (such as to identify an effective treatment or </input></div>
<div><input type="radio" name="goal" value="precision">Control the precision of a parameter (such as to establish non-inferiority or equivalence)</input></div>
<div><input type="radio" name="goal" value="rejectionAndPrecision">Combined goal of rejecting a null hypothesis while controlling precision</input></div>
</div>

</body>
</html>
